body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*desktop icon margin*/
.nav-link {
  margin-right: 1rem;
}

table {
  table-layout: fixed;
  width: 100%;
}

td {
  width: 50%;
  height: 50px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

/*mobile icon margin*/
@media (max-width: 767px) {
  .nav-link {
    margin-right: 0.5rem;
  }

  /* mobile button width full size */
  .btn-submit {
    width: 100%;
    margin-top: 10px;
  }
  
  .ft-size {
    font-size: 9px;
  }

}